body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    margin-bottom: 5px;
    min-height: 100vh;
    background-color: rgb(245, 243, 239);
}
.container {
    display: flex;
    flex-flow: row wrap;
    min-width: 500px;
    min-height: 200px;
}
.item {
    flex: 1;
    min-width: 200px;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
p {
    color:red;
}
@media screen and (max-width:600px) {
    .container {
        flex-flow: column wrap;
        width: 75%;
        margin: 0px auto;
    }
    .item {
        background-color: lightblue;
    }
}